<header class="header">
    <div class="container">
        <h1>

        <a routerLink="/cataleg">Catàleg de Quadrista</a>    
        
        </h1>

        <nav class="nav">
            <a routerLink="/cataleg" routerLinkActive="active"> Catàleg </a>
            <a routerLink="/cerca" routerLinkActive="active"> Cerca </a>
            <a routerLink="/detall" routerLinkActive="active"> Detall </a>
            <a routerLink="/login" routerLinkActive="active"> Login </a>
            <a routerLink="/preferits" routerLinkActive="active"> Meus preferits </a>
        </nav>
    </div>

</header>